@model TestMVCApp.Models.EmployeeDTO
@{
    ViewBag.Title = "ForgotPassword";
}
<h1>Forgot Password</h1>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	var sample = {};
    sample.postForgotPasswordData = function () {
		//var ds = document.getElementById("txtEmpId").val;
		if (validateUser()) {
			$.ajax({
				type: "POST",
				url: "@Url.Action("ForgotPasswordValidation")",
				dataType: "json",
				traditional: true,
				//async: true,
				contentType: "application/json; charset=utf-8",
				success: function (data) {
					alert('data: ' + data);
				},
				data: JSON.stringify({
                    "employeePassword": $("#txtPassword").val(), "empPassword": $("#txtConfirmPassword").val()
				}),
				//accept: 'application/json',
				error: function (data) { alert('error data: ' + data.sample.data.employeeName); },
			});


		} else {
			$.ajax.alert("Error")
		}
    };

	function validateUser() {
		//alert("validate user");
        if ($("#txtPassword").val() == "") {
			alert("Please enter Password");
			return false;
		}
        if ($("#txtConfirmPassword").val() == "") {
			alert("Please enter Confirm Password");
			return false;
        }
        if ($(txtPassword).val() == $("#txtConfirmPassword").val()) {
            return true;
        } else {
            alert("Password and Confirm Password Should Same!!");
            return false;
        }
		return true;
	}
</script>
@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { onsubmit = "sample.postForgotPasswordData();" }))

{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @id = "lblPassword", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password, new { @id = "txtPassword", @class = "form-control", placeholder = "Password", @type = "password" })
                @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @id = "txtConfirmPassword", @class = "form-control", placeholder = "Confirm Password", @type = "password" })
                @*@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })*@
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitButton" value="Submit" class="btn btn-block" />
            </div>
        </div>
    </div>
}

